[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
pytest = "*"
e1839a8 = { path = ".", editable = true }
pylint = {editable = true, ref = "master", git = "https://github.com/PyCQA/pylint.git"}
