[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
pytest = "*"
requests = "*"
lxml = "*"
ipython = "*"
astroid = "*"
requests-mock = "*"
pylint = "*"

[pipenv]
allow_prereleases = true

[packages.e1839a8]
path = "."
editable = true
